*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Pretendard-Regular';
}
.frontPage-wrap{
    width: 100%;
}
header{
    position: absolute;
    width: 100%;
    z-index: 99;
    .top-banner{
        display: flex;
        width: 100%;
        padding: 10px 0;
        background-color: #333;
        .top-banner-text{
            display: inline-block;
            width: fit-content;
            font-size: 14px;
            margin: auto;
            color: #fff;
        }
        .top-banner-close{
            position: absolute;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            right: 15px;
        }
    }
    .header-inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
        width: 100%;
        h1{
            position: absolute;
            width: fit-content;
            left: 0;
            right: 0;
            margin: 0 auto;
            a{
                
                span{
                    display: block;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                }
            }
        }
        .gnb-menu{
            position: relative;
            .gnb-menu-trigger{
                position: absolute;
                border: none;
                background-color: transparent;
                color: transparent;
                cursor: pointer;
                user-select: none;
                padding: 6px 15px;
                text-indent: -9999em;
                overflow: hidden;
            }
            .gnb-menu-inner{
                display: flex;
                align-items: center;
                gap: 1vw;
                li{
                    a{
                        font-size: 1.1em;
                        font-weight: 600;
                        letter-spacing: -1px;
                        color: #000;
                    }
                }
                &::before{
                    content: '';
                    display: block;
                    padding: 12px;
                    background: url('../image/list.png')no-repeat left center;
                    background-size: cover;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
        }
        .user-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15vw;
            .user-utils{
                display: flex;
                justify-content: space-between;
                width: 7vw;
                a{
                    color: #000;
                    font-size: 0.7em;
                }
            }
            .user-icons{
                display: flex;
                justify-content: space-between;
                width: 5.5vw;
                a{
                    color: #000;
                    i{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    .category-menu{
        display: none;
        &::before{
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
        .category-side{
            position: relative;
            width: 16%;
            min-height: 40vh;
            display: flex;
            gap: 4px;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 60px;
            z-index: 101;
            background-color: #fff;
            .category-side-item{
                position: relative;
                padding: 6px 8px;
                cursor: pointer;
                &.action{
                    span{
                        color: #000;
                    }
                    &::after{
                        content: '';
                        background: url('../image/plus-lg.png')no-repeat left center;
                        background-size: cover;
                        opacity: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: block;
                    padding: 8px;
                    transform: translateY(-50%);
                    background: url('../image/dash-lg.png')no-repeat left center;
                    background-size: cover;
                    fill: #000;
                    cursor: pointer;
                    opacity: 80%;
                }
                &:last-child::after{
                    display: none;
                }
                span{
                    font-size: 1.1em;
                    letter-spacing: -1px;
                    font-weight: 600;
                    color: #666;
                }
                &:hover>span{
                    color: #000;
                }
                &:hover::after{
                    content: '';
                    background: url('../image/plus-lg.png')no-repeat left center;
                    background-size: cover;
                    opacity: 100%;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                display: block;
                border-right: 1px solid #ccc;
            }
        }
        .category-inner{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 84%;
            z-index: 101;
            padding: 45px;
            background-color: #fff;
            .category-mega-menu{
                display: none;
                &.action{
                    display: flex;
                    gap: 4vw;
                }
                &.category{
                    .mega-menu-items{
                        .mega-menu-item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-bottom: 24px;
                        li{
                            a{
                                font-size: 0.9em;
                                font-weight: 500;
                                letter-spacing: -0.5px;
                                color: #666;
                                &:hover{
                                    color: #000;
                                }
                            }
                            &.item-header{
                                margin-bottom: 8px;
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    color: #000;
                                }
                            }
                        }
                        }
                    }
                }
                &.skin{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
                &.line{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
                &.global{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            .category-banner-menu{
                display: flex;
                justify-content: space-between;
                width: 38vw;
                .category-banner-card{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    a{
                        position: relative;
                        display: block;
                        border-radius: 6px;
                        overflow: hidden;
                        height: fit-content;
                        transform: scale(0.9);
                        box-sizing: border-box;
                        img{
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                    span{
                        display: inline-block;
                        font-size: 0.9em;
                        font-weight: 700;
                        margin-left: 16px;
                    }
                }
            }
        }
        .category-background{
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #000;
            opacity: 30%;
            z-index: 99;
            span{
                text-indent: -9999em;
                margin: -1px;
            }
        }
        &.action{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            z-index: 100;
        }
    }
}
.slider-banner{
    position: relative;
    width: 100%;
    .slider-banner-inner{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
        ul.slider-banner-items{
            display: flex;
            width: 100%;
            height: max-content;
            li.slider-banner-item{
                position: relative;
                width: 100%;
                &.first{
                    a{
                        position: relative;
                        display: block;
                        height: 0;
                        padding-top: 50%;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .slider-banner-arrow{
            position: absolute;
            width: 100%;
            height: 0;
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            button{
                border: none;
                padding: 30px;
                background-color: transparent;
                cursor: pointer;
                i{
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-size: 2.5em;
                    line-height: 2em;
                }
            }
        }
    }
}
.best-item{
    margin-top: 30vh;
    .best-item-inner{
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin: auto;
        .best-item-header{
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 10vh;
            .best-item-title{
                max-width: 8vw;
                .title-sub{
                    display: block;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 2em;
                    color: #bd2c3d;
                }
                .title-main{
                    font-size: 2em;
                    font-weight: 900;
                    word-break: keep-all;
                }
            }
            button.best-item-more{
                position: absolute;
                padding: 15px 14px;
                right: 0;
                display: flex;
                align-items: center;
                background-color: transparent;
                border-radius: 7px;
                border: 1px solid #ddd;
                cursor: pointer;
                span{
                    display: inline-block;
                    font-family: 'Pretendard-Regular';
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-right: 150px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    padding: 10px;
                    margin-right: 14px;
                    right: 0;
                    background: url(../image/plus-lg.png) no-repeat;
                    background-position: left top;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
        .best-item-container{
            position: relative;
            width: 100%;
            .best-item-container-inner{
                display: flex;
                align-items: center;
                gap: 22px;
                overflow: hidden;
                width: 100%;
                padding-bottom: 20vh;
                .item{
                    position: relative;
                    width: 24%;
                    .num{
                        position: absolute;
                        padding: 20px;
                        top: 20px;
                        left: 20px;
                        background-color: #333;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        z-index: 666;
                        span{
                            position: absolute;
                            font-size: 1.2em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    .thumbnail{
                        a{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 0;
                            padding-top: 120%;
                            overflow: hidden;
                            border-radius: 10px;
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .info{
                        position: relative;
                        margin-top: 15px;
                        .item-name{
                            display: inline-block;
                            font-size: 1.3em;
                            font-weight: 600;
                            line-height: 1.3em;
                            letter-spacing: -1px;
                            color: #000;
                        }
                        .info-detail{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            width: 100%;
                            .price{
                                margin-top: 18px;
                                span{
                                    display: inline-block;
                                    margin-right: 4px;
                                    &.current-price{
                                        font-size: 1.1em;
                                        font-weight: 700;
                                        color: #000;
                                    }
                                    &.past-price{
                                        font-size: 1.1em;
                                        font-weight: 500;
                                        color: #aaa;
                                        text-decoration: line-through;
                                    }
                                    &.discount{
                                        font-weight: 700;
                                        color: #bd2c3d;
                                    }
                                }
                            }
                            .icon{
                                display: flex;
                                gap: 15px;
                                button{
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    i{
                                        font-size: 1.5em;
                                        line-height: 0.5em;
                                        color:#999;
                                    }
                                    &.like-icon{
                                        i{
                                            -webkit-text-stroke: 1px #999;
                                            color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3),&:nth-child(4){
                        .thumbnail{
                            a{
                                img{
                                    &:last-child{
                                    opacity: 0;
                                    transition: 0.3s;
                                    }
                                }
                                &:hover>img:last-child{
                                    opacity: 100%;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}
.medi-lab{
    margin-top: 30vh;
    .medi-lab-inner{
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin: auto;
        .medi-lab-header{
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 10vh;
            .medi-lab-title{
                max-width: 16vw;
                .title-sub{
                    display: block;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 2em;
                    color: #bd2c3d;
                }
                .title-main{
                    font-size: 2em;
                    font-weight: 900;
                    word-break: keep-all;
                }
            }
        }
        .medi-lab-container{
            position: relative;
            display: flex;
            width: 100%;
            .medi-lab-banner{
                width: 50%;
                a{
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    padding-top: 100%;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .medi-lab-items{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                align-items: center;
                background-color: #fafafa;
                .medi-lab-item{
                    display: flex;
                    align-items: center;
                    width: 90%;
                    background-color: #fff;
                    gap: 7px;
                    padding: 10px;
                    border-radius: 6px;
                    .thumbnail{
                        width: 30%;
                        a{
                            position: relative;
                            display: block;
                            width: 90%;
                            height: 0;
                            transform-origin: center;
                            padding-top: 100%;
                            overflow: hidden;
                            border-radius: 6px;
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .info{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px 0;
                        a.info-title{
                            display: block;
                            font-size: 1.2em;
                            font-weight: 800;
                            letter-spacing: -0.5px;
                            color: #000;
                        }
                        span.info-detail{
                            font-size: 1em;
                            font-weight: 700;
                            color: #555;
                        }
                        .hash-items{
                            width: 22vw;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 6px;
                            span{
                                display: inline-block;
                                font-size: 0.9em;
                                font-weight: 800;
                                word-break: keep-all;
                                color: #333;
                                background-color: #eee;
                                border-radius: 2px;
                                padding: 3px 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.mdPick-item{
    margin-top: 30vh;
    .mdPick-item-inner{
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin: auto;
        .mdPick-item-header{
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 10vh;
            .mdPick-item-title{
                max-width: 8vw;
                .title-sub{
                    display: block;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 2em;
                    color: #bd2c3d;
                }
                .title-main{
                    font-size: 2em;
                    font-weight: 900;
                    word-break: keep-all;
                }
            }
            button.mdPick-item-more{
                position: absolute;
                padding: 15px 14px;
                right: 0;
                display: flex;
                align-items: center;
                background-color: transparent;
                border-radius: 7px;
                border: 1px solid #ddd;
                cursor: pointer;
                span{
                    display: inline-block;
                    font-family: 'Pretendard-Regular';
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-right: 150px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    padding: 10px;
                    margin-right: 14px;
                    right: 0;
                    background: url(../image/plus-lg.png) no-repeat;
                    background-position: left top;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
        .mdPick-item-container{
            position: relative;
            width: 100%;
            ul.mdPick-item-container-items{
                display: flex;
                align-items: center;
                gap: 22px;
                overflow: hidden;
                width: 100%;
                li.mdPick-item-container-item{
                    position: relative;
                    width: 24%;
                    .num{
                        position: absolute;
                        padding: 20px;
                        top: 20px;
                        left: 20px;
                        background-color: #333;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        z-index: 666;
                        span{
                            position: absolute;
                            font-size: 1.2em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    .thumbnail{
                        a{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 0;
                            padding-top: 120%;
                            overflow: hidden;
                            border-radius: 10px;
                            .discount{
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                padding: 10px 0;
                                background-color: rgba(0, 0, 0, 40%);
                                z-index: 888;
                                text-align: center;
                                span{
                                    font-weight: 800;
                                    color: #000;
                                }
                            }
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .info{
                        position: relative;
                        margin-top: 15px;
                        .item-name{
                            display: inline-block;
                            font-size: 1.3em;
                            font-weight: 600;
                            line-height: 1.3em;
                            letter-spacing: -1px;
                            color: #000;
                        }
                        .info-detail{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            width: 100%;
                            .price{
                                margin-top: 18px;
                                span{
                                    display: inline-block;
                                    margin-right: 4px;
                                    &.current-price{
                                        font-size: 1.1em;
                                        font-weight: 700;
                                        color: #000;
                                    }
                                    &.past-price{
                                        font-size: 1.1em;
                                        font-weight: 500;
                                        color: #aaa;
                                        text-decoration: line-through;
                                    }
                                    &.discount{
                                        font-weight: 700;
                                        color: #bd2c3d;
                                    }
                                }
                            }
                            .icon{
                                display: flex;
                                gap: 15px;
                                button{
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    i{
                                        font-size: 1.5em;
                                        line-height: 0.5em;
                                        color:#999;
                                    }
                                    &.like-icon{
                                        i{
                                            -webkit-text-stroke: 1px #999;
                                            color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(1),&:nth-child(3){
                        .thumbnail{
                            a{
                                img{
                                    &:last-child{
                                    opacity: 0;
                                    transition: 0.3s;
                                    }
                                }
                                &:hover>img:last-child{
                                    opacity: 100%;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}
.about-medi{
    margin-top: 30vh;
    padding: 30vh 0;
    background-color: #f7f7f7;
    .about-medi-inner{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1560px;
        margin: auto;
        .about-medi-header{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24vh;
            width: 36%;
            .about-medi-title{
                display: flex;
                flex-direction: column;
                gap: 4vh;
                max-width: 16vw;
                .title-sub{
                    display: block;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 2em;
                    color: #bd2c3d;
                }
                .title-main{
                    font-size: 2em;
                    font-weight: 900;
                    word-break: keep-all;
                }
            }
            button.about-medi-more{
                position: relative;
                width: fit-content;
                padding: 15px 14px;
                display: flex;
                align-items: center;
                background-color: transparent;
                border-radius: 7px;
                border: 1px solid #ddd;
                cursor: pointer;
                span{
                    display: inline-block;
                    font-family: 'Pretendard-Regular';
                    font-size: 1.2em;
                    margin-right: 140px;
                    font-weight: 600;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    padding: 10px;
                    margin-right: 14px;
                    right: 0;
                    background: url(../image/plus-lg.png) no-repeat;
                    background-position: left top;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
        .about-medi-container{
            overflow: hidden;
            width: 64%;
            ul.about-medi-items{
                display: flex;
                width: 60vw;
                gap: 12px;
                li.about-medi-item{
                    position: relative;
                    width: 100vw;
                    a{
                        position: relative;
                        display: block;
                        height: 0;
                        padding-top: 136%;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
.medi-review{
    margin-top: 30vh;
    .medi-review-inner{
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin: auto;
        .medi-review-header{
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 10vh;
            .medi-review-title{
                max-width: 12vw;
                .title-sub{
                    display: block;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 2em;
                    color: #bd2c3d;
                }
                .title-main{
                    font-size: 2em;
                    font-weight: 900;
                    word-break: keep-all;
                }
            }
            button.medi-review-more{
                position: absolute;
                padding: 15px 14px;
                right: 0;
                display: flex;
                align-items: center;
                background-color: transparent;
                border-radius: 7px;
                border: 1px solid #ddd;
                cursor: pointer;
                span{
                    display: inline-block;
                    font-family: 'Pretendard-Regular';
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-right: 150px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    padding: 10px;
                    margin-right: 14px;
                    right: 0;
                    background: url(../image/plus-lg.png) no-repeat;
                    background-position: left top;
                    background-size: cover;
                    box-sizing: border-box;
                }
            }
        }
        .medi-review-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .medi-review-container-inner{
                width: 100%;
                ul.medi-review-items{
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    li.medi-review-item{
                        position: relative;
                        width: 25%;
                        .thumbnail{
                            a{
                                position: relative;
                                display: block;
                                width: 100%;
                                height: 0;
                                padding-top: 106%;
                                overflow: hidden;
                                img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        &:first-child{
                            .thumbnail{
                                a{
                                   video{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                } 
                                }
                            }
                        }
                        .info{
                            padding: 0 10px;
                            border: 1px solid #eee;
                            .review{
                                padding: 5px 10px;
                                .star{
                                    i{
                                        font-size: 0.5em;
                                        letter-spacing: -1px;
                                    }
                                }
                                .review-main{
                                    display: -webkit-box;
                                    margin: 5px 0;
                                    font-size: 0.75em;
                                    letter-spacing: -0.3px;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow:ellipsis;
                                }
                                .review-id{
                                    font-size: 0.7em;
                                    line-height: 1.2em;
                                    color: #999;
                                }
                                &::after{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 100%;
                                left: 0;
                                margin-top: 5px;
                                border-bottom: 1px solid #eee;
                            }
                            }
                            .product{
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                margin-top: 5px;
                                padding: 10px 0;
                                .thumbnail{
                                    position: relative;
                                    width: 15vw;
                                    a{
                                        position: relative;
                                        display: block;
                                        width: 100%;
                                        height: 0;
                                        padding-top: 100%;
                                        img{
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }
                                .product-info{
                                    position: relative;
                                    width: 80vw;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    span{
                                        display: -webkit-box;
                                        font-size: 0.75em;
                                        letter-spacing: -0.3px;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                    .detail{
                                        width: 60%;
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .medi-review-arrow{
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 0;
                margin-bottom: 60px;
                button{
                    position: relative;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    &.prev-arrow{
                        transform: translateX(-200%);
                        i{
                            font-size: 3em;
                        }
                    }
                    &.next-arrow{
                        transform: translateX(200%);
                        i{
                            font-size: 3em;
                        }
                    }
                }
            }
        }
    }
}