*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Pretendard-Regular';
}
.frontPage-wrap{
    width: 100%;
}
header{
    position: absolute;
    width: 100%;
    .top-banner{
        display: flex;
        width: 100%;
        padding: 10px 0;
        background-color: #333;
        .top-banner-text{
            display: inline-block;
            width: fit-content;
            font-size: 14px;
            margin: auto;
            color: #fff;
        }
        .top-banner-close{
            position: absolute;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            right: 15px;
        }
    }
    .header-inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
        width: 100%;
        h1{
            position: absolute;
            width: fit-content;
            left: 0;
            right: 0;
            margin: 0 auto;
            a{
                
                span{
                    display: block;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                }
            }
        }
        .gnb-menu{
            .gnb-menu-inner{
                display: flex;
                align-items: center;
                gap: 1vw;
                li{
                    a{
                        font-size: 1.1em;
                        font-weight: 600;
                        letter-spacing: -1px;
                        color: #000;
                    }
                }
                &::before{
                    content: '';
                    display: block;
                    padding: 12px;
                    background: url('../image/list.png')no-repeat left center;
                    background-size: cover;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
        }
        .user-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15vw;
            .user-utils{
                display: flex;
                justify-content: space-between;
                width: 7vw;
                a{
                    color: #000;
                    font-size: 0.7em;
                }
            }
            .user-icons{
                display: flex;
                justify-content: space-between;
                width: 5.5vw;
                a{
                    color: #000;
                    i{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}