*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Pretendard-Regular';
}
.frontPage-wrap{
    width: 100%;
}
header{
    position: absolute;
    width: 100%;
    z-index: 99;
    .top-banner{
        display: flex;
        width: 100%;
        padding: 10px 0;
        background-color: #333;
        .top-banner-text{
            display: inline-block;
            width: fit-content;
            font-size: 14px;
            margin: auto;
            color: #fff;
        }
        .top-banner-close{
            position: absolute;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            right: 15px;
        }
    }
    .header-inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
        width: 100%;
        h1{
            position: absolute;
            width: fit-content;
            left: 0;
            right: 0;
            margin: 0 auto;
            a{
                
                span{
                    display: block;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                }
            }
        }
        .gnb-menu{
            position: relative;
            .gnb-menu-trigger{
                position: absolute;
                border: none;
                background-color: transparent;
                color: transparent;
                cursor: pointer;
                user-select: none;
                padding: 6px 15px;
                text-indent: -9999em;
                overflow: hidden;
            }
            .gnb-menu-inner{
                display: flex;
                align-items: center;
                gap: 1vw;
                li{
                    a{
                        font-size: 1.1em;
                        font-weight: 600;
                        letter-spacing: -1px;
                        color: #000;
                    }
                }
                &::before{
                    content: '';
                    display: block;
                    padding: 12px;
                    background: url('../image/list.png')no-repeat left center;
                    background-size: cover;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
        }
        .user-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15vw;
            .user-utils{
                display: flex;
                justify-content: space-between;
                width: 7vw;
                a{
                    color: #000;
                    font-size: 0.7em;
                }
            }
            .user-icons{
                display: flex;
                justify-content: space-between;
                width: 5.5vw;
                a{
                    color: #000;
                    i{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    .category-menu{
        display: none;
        &::before{
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
        .category-side{
            position: relative;
            width: 16%;
            display: flex;
            gap: 4px;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 60px;
            z-index: 101;
            background-color: #fff;
            .category-side-item{
                position: relative;
                padding: 6px 8px;
                cursor: pointer;
                &.action{
                    span{
                        color: #000;
                    }
                    &::after{
                        content: '';
                        background: url('../image/plus-lg.png')no-repeat left center;
                        background-size: cover;
                        opacity: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: block;
                    padding: 8px;
                    transform: translateY(-50%);
                    background: url('../image/dash-lg.png')no-repeat left center;
                    background-size: cover;
                    fill: #000;
                    cursor: pointer;
                    opacity: 80%;
                }
                &:last-child::after{
                    display: none;
                }
                span{
                    font-size: 1.1em;
                    letter-spacing: -1px;
                    font-weight: 600;
                    color: #666;
                }
                &:hover>span{
                    color: #000;
                }
                &:hover::after{
                    content: '';
                    background: url('../image/plus-lg.png')no-repeat left center;
                    background-size: cover;
                    opacity: 100%;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                display: block;
                border-right: 1px solid #ccc;
            }
        }
        .category-inner{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 84%;
            z-index: 101;
            padding: 45px;
            background-color: #fff;
            .category-mega-menu{
                display: none;
                &.action{
                    display: flex;
                    gap: 4vw;
                }
                &.category{
                    .mega-menu-items{
                        .mega-menu-item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-bottom: 24px;
                        li{
                            a{
                                font-size: 0.9em;
                                font-weight: 500;
                                letter-spacing: -0.5px;
                                color: #666;
                                &:hover{
                                    color: #000;
                                }
                            }
                            &.item-header{
                                margin-bottom: 8px;
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    color: #000;
                                }
                            }
                        }
                        }
                    }
                }
                &.skin{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
                &.line{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
                &.global{
                    .mega-menu-items{
                        .mega-menu-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            margin-bottom: 24px;
                            li{
                                a{
                                    font-size: 1em;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    color: #888;
                                    &:hover{
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            .category-banner-menu{
                display: flex;
                justify-content: space-between;
                width: 38vw;
                .category-banner-card{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    a{
                        position: relative;
                        display: block;
                        border-radius: 6px;
                        overflow: hidden;
                        height: fit-content;
                        transform: scale(0.9);
                        box-sizing: border-box;
                        img{
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                    span{
                        display: inline-block;
                        font-size: 0.9em;
                        font-weight: 700;
                        margin-left: 16px;
                    }
                }
            }
        }
        .category-background{
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #000;
            opacity: 10%;
            z-index: 99;
            span{
                text-indent: -9999em;
                margin: -1px;
            }
        }
        &.action{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            z-index: 100;
        }
    }
}
.slider-banner{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 50%;
    background-color: rosybrown;
    z-index: 88;
    .slider-banner-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        ul.slider-banner-items{
            display: flex;
        }
        .slider-banner-arrow{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 0;
        }
    }
}